.floating{
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    height: 4.3rem;
    width: 14rem;
}

.floating > img {
    transform: scale(0.35);
}


.floating > span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    padding-right: 40px;
}


.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #e8c3ff;
    filter: blur(72px);
    z-index: -9;
    top: -18%;
    left: 56%;
}

